/* Error: Plain CSS functions don't support keyword arguments.
 *    ,
 * 39 | $col: col-width($columns: 8);
 *    |       ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/partials/_variables.scss 39:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Plain CSS functions don't support keyword arguments.\a    \2577 \a 39 \2502  $col: col-width($columns: 8);\a    \2502        ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/partials/_variables.scss 39:7  root stylesheet";
}
